<style>
.quizzing-sections {
    height: 40vh;
    margin-bottom: 20px;
}
.quiz-headings {
    font-weight: 800;
    text-align: center;
    border-bottom: 1px solid pink;
    padding-bottom: 5px;
}
.quiz-level {
    font-weight: 600;
}
.quiz-inner-wrapper {
    padding: 10px;
    margin-top: 10px;
}
.quiz-details {
    height: 40vh;
}
.quiz-about {
    font-size: 13px;
    font-weight: bold;
}
.quiz-short {
    line-height: initial;
}
.quiz-sentence-question-options {
    background-color: white;
    border-radius: 5px;
}
.quiz-hide {
    display: none;
}
.quiz-aural-styles {
    line-height: 40px;
    margin-top: -4px;
    font-size: 20px;
    padding-left: 14px;
    margin-bottom: 4px;
    position: absolute;
}
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div style="font-weight: bold;" id="quiz-address">
            <button data-ng-click="opctrl.initialiseQuizWrapper()" data-ng-show="!quizSection" style="padding: 3px;" class="btn btn-success">
                Back To
            </button>
            <span id="quiz-address-parent">Quizzing Sections</span>
        </div>
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Pratice your language skills"></span>
    </div>
</div>
<div class="quiz-wrapper" data-ng-init="opctrl.initialiseQuizWrapper()">
    <div data-ng-show="quizSection" data-ng-include="'includes/quiz-sections.html'">
    </div>
    <div data-ng-show="quizSimpleWordTranslation" data-ng-include="'includes/quiz-words.html'">
    </div>
    <div data-ng-show="quizSentenceTranslation" data-ng-include="'includes/quiz-sentence.html'">
    </div>
    <div data-ng-show="quizOralTranslation" data-ng-include="'includes/quiz-oral.html'">
    </div>
    <div data-ng-show="quizAuralTranslation" data-ng-include="'includes/quiz-aural.html'">
    </div>
</div>